RewriteEngine on 

# subfolder
RewriteCond %{HTTP_HOST} ^testshopshoes.herokuapp.com$ [OR]
RewriteCond %{REQUEST_URI} !^/webroot/
RewriteCond %{REQUEST_URI} !^/admin/
RewriteRule (.*) /webroot/$1

# clean urls
RewriteRule ^webroot/([a-z0-9\-]+)$ webroot/$1.php
