<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /admin
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ /webroot/index.php [QSA,L]
</IfModule>
